* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

img {
    width: 350px;
    height: 350px;
}

a {
    text-decoration: none;
}


/* pages */

.editor-container {
    display: none;
}


/* header */

.logo {
    width: 130px;
    height: 20px;
}

.nav-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.header-container {
    height: 70px;
    background-color: #FF7F00;
    justify-content: center;
}

.header {
    justify-content: space-between;
    align-items: center;
}


/* search line */

.search-words {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* helpers */

.container {
    width: 100%;
    margin: 0 auto;
}

.second-container {
    width: 1300px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.edit-btn {
    width: 61px;
    height: 61px;
}


/* img grid */

.img-grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 350px);
}


/* editor */

.editor-container {
    height: 600px;
    align-items: center;
}

.editor {
    justify-content: space-between;
    align-items: center;
}

.canvas {
    max-width: 550px;
    max-height: 550px;
    border: 2px solid black;
}

.canvas-editor
/* footer */

.footer {
    background-color: #FF7F00;
    flex-direction: column;
}